/*--- General Rules ---*/

body {  
    background-color: #e9e9e9;
}

.active {
    color: #727272 !important;
}

.input-field:focus {
    border-bottom: 1px solid #727272 !important;
    box-shadow: 0 1px 0 0 #727272 !important;
  }

/*--- Top Nav bar and Side Nav bar ---*/

.topnav li>a:hover {
    color: #000000;
}

.topnav li:hover {
    background-color: #e9e9e9;
}

.sidenav li>a {
    color: #ffffff;
}

.sidenav li>a:hover {
    color: #000000;
}

.sidenav li:hover {
    background-color: #e9e9e9;
}

/*--- Signup Page ---*/

.btn-large:hover {
    background-color: #555555 !important;
}