{% extends "base.html" %}
{% block content %}

<h3 class="center">Add Scientist</h3>

<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" name="name" type="text" class="validate">
                <label for="name">Scientist Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">location_on</i>
                <input id="country_born" name="country_born" type="tel" class="validate">
                <label for="country_born">Country of Birth</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">date_range</i>
                <input id="dob" name="dob" type="tel" class="validate">
                <label for="dob">Date of Birth</label>
            </div>
            <div class="input-field col s8">
                <i class="material-icons prefix">school</i>
                <input id="field_of_research" name="field_of_research" type="tel" class="validate">
                <label for="field_of_research">Field of Research</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">rate_review</i>
                <input id="description" name="description" type="tel" class="validate">
                <label for="description">Short Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">stars</i>
                <input id="nobel_laureate" name="nobel_laureate" type="tel" class="validate">
                <label for="nobel_laureate">Nobel Laureate</label>
            </div>
            <div class="input-field col s9">
                <i class="material-icons prefix">insert_link</i>
                <input id="url" name="url" type="tel" class="validate">
                <label for="url">Wikipedia URL</label>
            </div>
        </div>
    </form>
</div>

{% endblock %}