<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title class="logo">The Compendium of Scientists</title>
</head>

<body>

    <header>

        <!---- Navigation bar with collapsible menu imported from Materialize and customized --->
        <nav>
            <div class="nav-wrapper black">
                <a href="{{ url_for('home') }}" class="brand-logo">Scientists Compendium</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down topnav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('scientists') }}">Compendium</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('add_scientist') }}">Add</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav black" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('scientists') }}">Compendium</a></li>
            <li><a href="{{ url_for('add_scientist') }}">Add</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </header>

     <!---- Flash messages when user Log-in/Log-out, Register, Delete/Add/Update a Scientist --->
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes flash-message-row">
            <div class="col s10 offset-s1 m6 offset-m3 card-panel white flash-message">
                <h4 class="center-align ">{{ message }}</h4>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="container min-height">
        {% block content %}
        {% endblock %}
    </main>

    <!---- Footer imported from Materialize and customized --->
    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">The Compendium</h5>
                    <hr>
                    <p class="grey-text text-lighten-4">“The most exciting phrase to hear in science, the one that
                        heralds the most discoveries, is not "Eureka!" (I found it!) but 'That's funny...”
                        ― Isaac Asimov</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <hr>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.nobelprize.org/prizes/"
                                target="_blank">Nobel Prizes and Laureates</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://en.wikipedia.org/wiki/Scientist">Wikipedia
                                Scientist Page</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.scientificamerican.com/">Scientific
                                American</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.sciencemag.org/">Science Mag</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Copyright
                <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block scripts %}
    {% endblock %}
    
</body>

</html>