{% extends "base.html" %}
{% block content %}

<h3 class="center">The Compendium</h3>

<div class="row card-panel white search-bar">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valig-wrapper center-align row-margin">
            <div class="input-field col s12 m8">
                <i class="material-icons prefix">search</i>
                <input type="text" name="query" minlength="3" id="query" class="validate" required>
                <label for="query" name="query">Search Scientists</label>
            </div>
            <div class="row valig-wrapper center-align">
                <a href="{{ url_for('scientists') }}" class="black btn margin">Reset</a>
                <button type="submit" class="light-green darken-1 btn margin">
                    <i class="material-icons prefix left">search</i>Search
                </button>
            </div>
        </div>
    </form>
</div>

<ul>
    <div class="row">
        {% for scientist in scientists %}
        <div class="col s12 m4">
            
            <div class="card blue-grey darken-1">
                
                <div class="card-content white-text">
                    <span class="card-title center-align"><b>{{ scientist.name }}</b></span>
                    <hr>
                    <p><b class="tags">Born in:</b> {{ scientist.country_born }}</p>
                    <p><b class="tags">Date of Birth:</b> {{ scientist.dob }}</p>
                    <p><b class="tags">Field of Research:</b> {{ scientist.field_of_research }}</p>
                    <p><b class="tags">Is Nobel Laureate:</b> {{ scientist.nobel_laureate }}</p><br>
                    <p>{{ scientist.description }}</p><br>
                    <p><em>Added by: {{ scientist.added_by }}</em></p>
                </div>
                <div class="card-action center-align">
                    <a href="{{ scientist.url }}" target=”_blank”>Wikipedia</a>
                </div>
                
            </div>
            
        </div>
        {% endfor %}
    </div>
</ul>

{% endblock %}