{% extends "base.html" %}
{% block content %}

<h1 class="center"> Homepage</h1>

<h3 class="center">Some Famous Scientists:</h3>

<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="static/images/einstein.jpg">
      </div>
      <div class="card-content center-align">
        <p class="featured-names">Albert Einstein</p>
      </div>
      {% if session.user %}
      <div class="card-action center-align">
        <a href="scientists/60b7b09028e798f8bc2985e9" class="waves-effect btn-small light-green darken-1">More Details</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="static/images/curie.jpg">
      </div>
      <div class="card-content center-align">
        <p class="featured-names">Marie Curie</p>
      </div>
      {% if session.user %}
      <div class="card-action center-align">
        <a href="scientists/60ba639cc7a1bb88c129d3de" class="waves-effect btn-small light-green darken-1">More Details</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="static/images/tesla.jpg">
      </div>
      <div class="card-content center-align">
        <p class="featured-names">Nikola Tesla</p>
      </div>
      {% if session.user %}
      <div class="card-action center-align">
        <a href="scientists/60bce29586031e0078b2b49e" class="waves-effect btn-small light-green darken-1">More Details</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}