{% extends "base.html" %}
{% block content %}

<h1 class="center">Scientia</h1>
<hr>
<div class="row">
  <div class="col s12 m10 offset-m1 white scientia-description card">
    <p>Science or Scientia from Latin, means "knowledge". It's the systematic study of the structure and behaviour of the physical and natural world through observation and experiment.</p>
    <p>On this Compendium of Scientists you can learn all about the greatest scientists and their discoveries and you can also contribute to this open Compendium!</p>
  </div>
</div>
<h2 class="center">Famous Scientists</h2>
<hr>
<div class="row section-margin">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="static/images/einstein.jpg">
      </div>
      <div class="card-content center-align">
        <p class="featured-names">Albert Einstein</p>
      </div>
      <!---- If session user cookie is set it shows the option "More Details" --->
      {% if session.user %}
      <div class="card-action center-align">
        <a href="scientists/60b7b09028e798f8bc2985e9" class="waves-effect btn-small light-green darken-1">More Details</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="static/images/curie.jpg">
      </div>
      <div class="card-content center-align">
        <p class="featured-names">Marie Curie</p>
      </div>
      <!---- If session user cookie is set it shows the option "More Details" --->
      {% if session.user %}
      <div class="card-action center-align">
        <a href="scientists/60ba639cc7a1bb88c129d3de" class="waves-effect btn-small light-green darken-1">More Details</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="static/images/tesla.jpg">
      </div>
      <div class="card-content center-align">
        <p class="featured-names">Nikola Tesla</p>
      </div>
      <!---- If session user cookie is set it shows the option "More Details" --->
      {% if session.user %}
      <div class="card-action center-align">
        <a href="scientists/60bce29586031e0078b2b49e" class="waves-effect btn-small light-green darken-1">More Details</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!---- For loop showing most recent scientists added --->
<h2 class="center">Recent Additions</h2>
<hr>
<div class="row section-margin">
  {% for scientist in recent %}
  {% if loop.index < 7 %}
  <div class="col s12 m4">
      
      <div class="card blue-grey darken-1">
          
          <div class="card-content white-text">
              <span class="card-title center-align"><b>{{ scientist.name }}</b></span>
              <hr>
              <p><b class="tags">Born in:</b> {{ scientist.country_born }}</p>
              <p><b class="tags">Date of Birth:</b> {{ scientist.dob }}</p>
              <p><b class="tags">Field of Research:</b> {{ scientist.field_of_research }}</p>
              <p><b class="tags">Is Nobel Laureate:</b> {{ scientist.nobel_laureate }}</p><br>
          </div>
          {% if session.user %}
          <div class="card-action center-align">
              <a href="{{ url_for('scientist', scientist_id=scientist._id) }}" class="waves-effect btn-small light-green darken-1" target=”_blank”>More Details</a>
          </div>
          {% endif %}
          
      </div>
      
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}