{% extends "base.html" %}
{% block content %}

<!---- Card imported from materialized and customized for signup form functionality --->

<h3 class="center-align registration-border">Log In Page</h3>

<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel white">
            <div class="row black-text">
                <div class="input-field col s10 offset-m1">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" name="username" type="text" class="validate" minlength="3" maxlength="18"
                        pattern="^[a-zA-Z0-9]{3,18}$" required>
                    <label for="username">User</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-m1">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" name="password" type="password" minlength="6" maxlength="18" class="validate"
                        pattern="^[a-zA-Z0-9]{6,18}$" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s6 offset-m3 btn-large black">Log In</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not registered yet?
                <a href="{{ url_for('signup') }}">Register Account here</a>
            </p>
        </div>
    </div>

    {% endblock %}